BasedOnStyle: LLVM
Language: Cpp
UseTab: Never
IndentWidth: 4
TabWidth: 4
IndentCaseLabels: false
ColumnLimit: 0
AccessModifierOffset: -4
FixNamespaceComments: false
NamespaceIndentation: All
AlignConsecutiveDeclarations: true
PointerAlignment: Left
BreakBeforeBraces: Custom
BreakConstructorInitializers: BeforeComma
BraceWrapping:
    BeforeCatch: true
    BeforeElse: true
